.userTable{
    width:60%;
    background-color: #fff;
    box-shadow: 1px 1px 8px rgba(0, 0, 0,0.065);
    border-radius:5px;
    margin: 50px auto;
    padding: 50px;
}
.addButton{
    text-decoration: none;
    background-color: purple;
    color: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0,0.065);
    border-radius: 5px;
    padding:10px;

}

.userTable table{
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}
.userTable table thead th{
    background-color:darkcyan;
    color: white;
    padding: 5px;
}
.userTable table tbody td{
    padding: 3px;
    text-align:center;
}

.actionButton button{
    padding: 8px 10px;
    color: white;
    background:red;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}
.actionButton a{
    padding: 6px 10px;
    color: white;
    background:green;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 5px;
}